.hero {
  background-color: rgb(255, 225, 246);
  .container {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    @media only screen and (max-width: 1023px) {
      display: block;
      .pic {
        height: auto;
        width: auto;
      }
    }
    flex-wrap: wrap;
  }
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.brand {
  flex-basis: 40%;
  flex-grow: 1;
  @media only screen and (max-width: 1023px) {
    margin: 0 5px;
    text-align: center;
    h1 {
      margin-bottom: 15px;
    }
    margin-bottom: 15px;
  }
  .icons {
    font-size: 50px;
    i {
      &:hover {
        color: pink;
        cursor: pointer;
      }
    }
  }
  h1 {
    font-family: Parisienne;
    font-size: 80px;
    color: rgb(187, 11, 119);
  }
  h2 {
    font-family: Parisienne;
    font-size: 25px;
    color: rgb(247, 99, 155);
  }
  margin-right: 15px;
  margin-bottom: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  @media only screen and (max-width: 1023px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pic {
    height: 150px;
    width: 150px;
    background-color: gray;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
    // &:hover {
    //   transform: scale(1.5);
    //   -webkit-transform: scale(1.5);
    //   -moz-transform: scale(1.5);
    //   -ms-transform: scale(1.5);
    //   -o-transform: scale(1.5);
    // }
  }
}
